extends ../layout
include ../sections/_mixins.pug



block title
    title About

block body
    .wrapper.wrapper__about
        .maincontent

            block header__about
            include ../sections/header.pug
            block content
                .content__about
                    .about__left
                        .about__left-title.general__title
                            span ОБО МНЕ
                        .about__left-info
                            .about__left-foto
                                img.about__left-img(src="./assets/img/avatar/me.jpg" alt="Аватар")
                            .general__title
                                span КТО Я
                            .about__text
                                p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
                    .about__right
                        .about__right-info
                            .general__title
                                span ЧЕМ Я МОГУ БЫТЬ ВАМ ПОЛЕЗЕН
                            .about__text
                                p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
                            .skills
                                .skills__block
                                    .skills__title Frontend
                                    ul.skills__list
                                        li.skills__item HTML5
                                        li.skills__item CSS3
                                        li.skills__item JavaScript & jQuery
                                .skills__block
                                    .skills__title Backend
                                    ul.skills__list
                                        li.skills__item PHP
                                        li.skills__item mySQL
                                        li.skills__item Node.js & npm
                                        li.skills__item Mongo.db
                                .skills__block
                                    .skills__title WorkFlow
                                    ul.skills__list
                                        li.skills__item Git
                                        li.skills__item Gulp
                                        li.skills__item Bower
                .contacts__map
                    .contacts__window
                        .general__title
                            span КОНТАКТЫ
                        ul.contacts__list
                            li.contacts__item
                                a.contacts__link(href="#")
                                    img.contacts__item-pic(src="./assets/img/icons/skype.png" alt="Скайп")
                                    span.contacts__item-text stopangina
                            li.contacts__item
                                a.contacts__link(href="#")
                                    img.contacts__item-pic(src="./assets/img/icons/envelope.png" alt="Почта")
                                    span.contacts__item-text eovinova89@gmail.com
                            li.contacts__item
                                a.contacts__link(href="#")
                                    img.contacts__item-pic(src="./assets/img/icons/phone.png" alt="Почта")
                                    span.contacts__item-text +7 906 727 38 31
                            li.contacts__item
                                a.contacts__link(href="#")
                                    img.contacts__item-pic(src="./assets/img/icons/map_marker.png" alt="Почта")
                                    span.contacts__item-text Москва, м. Братиславская
block footer
    include ../sections/footer.pug