extends ../layout
include ../sections/_mixins.pug

block title
    title Blog

block body
    .wrapper
        .maincontent

            block header
                .header__about.header__blog
                    .header__blog-up
                        .socials.socials__position
                            ul.socials__list
                                li.socials__item
                                    a.socials__link.socials__link-header(href="https://vk.com/id272177" target="_blank")
                                        i(class="fa fa-vk" aria-hidden="true")
                                li.socials__item
                                    a.socials__link.socials__link-header(href="https://github.com/Elizaveta89" target="_blank")
                                        i(class="fa fa-github-alt" aria-hidden="true")
                                li.socials__item
                                    a.socials__link.socials__link-header(href="https://ru.linkedin.com/" target="_blank")
                                        i(class="fa fa-linkedin" aria-hidden="true")
                        .header__menu-button
                        .nav.header__menu
                            .header__menu-button_active
                            ul.header__menu-list
                                li.header__menu-item
                                    a.header__menu-link(href='http://ovinovaportfolio.ru/works.html')
                                        span.header__menu-text Мои работы
                                li.header__menu-item
                                    a.header__menu-link('http://ovinovaportfolio.ru/about.html')
                                        span.header__menu-text Обо мне
                                li.header__menu-item
                                    a.header__menu-link('http://ovinovaportfolio.ru/blog.html')
                                        span.header__menu-text Блог
                                li.header__menu-item
                                    a.header__menu-link(href="#")
                                        span.header__menu-text Авторизация
                    .header__blog-user
                        .user
                            .user__foto.user__foto-blog
                                img.user__foto-img(src='./assets/img/avatar/me.jpg' alt="Аватар")
                            .user__blog
                                .user__blog-img
                                    img.user__blog-pic(src="./assets/img/icons/blog.png")
                                .user__blog-title.general__title
                                    h1 Блог
                                .user__blog-text
                                    p Статьи, которые я написала
                    svg(class="triangle__blog" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 85" preserveAspectRatio="none")
                        polygon(class="triangle__left" points="0,0   0,86   500.8,86   500.8,75.5")
                        polygon(class="triangle__right" points="1000,00   1000,86   500,86   500,75.5")
            block content
                .container
                    .blog__content
                        .blog__nav
                            ul.blog__nav-list
                                li.blog__nav-item
                                    a.blog__nav-link.blog__nav-link-active(href="#article0")
                                        span.blog__nav-text Самое важное в SASS
                                li.blog__nav-item
                                    a.blog__nav-link(href="#article1")
                                        span.blog__nav-text Приёмы в вёрстке, без которых не обходится ни один сайт
                                li.blog__nav-item
                                    a.blog__nav-link(href="#article2")
                                        span.blog__nav-text Самый необходимый набор Gulp плагинов
                                li.blog__nav-item
                                    a.blog__nav-link(href="#article3")
                                        span.blog__nav-text Почему я выбрал Jade
                        .blog__article
                            article.article(id="article0")
                                .article__title Самое важное в SASS
                                .article__data
                                    span 22 ноября 2016
                                .article__text
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            article.article(id="article1")
                                .article__title Самое важное в SASS
                                .article__data
                                    span 22 ноября 2016
                                .article__text
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            article.article(id="article2")
                                .article__title Самое важное в SASS
                                .article__data
                                    span 22 ноября 2016
                                .article__text
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            article.article(id="article3")
                                .article__title Самое важное в SASS
                                .article__data
                                    span 22 ноября 2016
                                .article__text
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

block footer
    include ../sections/footer.pug
block preloader
    include ../sections/preloader.pug