extends ../layout
include ../sections/_mixins.pug

block title
    title Welcome

block body
    .preloader
        .preloader__content
            .preloader__pic
                svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="80px" height="95.113px" viewBox="0 0 80 95.113" enable-background="new 0 0 80 95.113" xml:space="preserve")
                g
                    path(fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801 c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801 c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")
                g
                    path(fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,61.684c6.663,0,6.663,7.801,13.327,7.801 c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801 c6.67,0,6.67,7.801,13.339,7.801S73.33,61.684,80,61.684")
                g
                    path(fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,85.362c6.663,0,6.663,7.801,13.327,7.801 c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801 c6.67,0,6.67,7.801,13.339,7.801S73.33,85.362,80,85.362")
            span.preloader__value(data-unit='%', id='preloaderCounter') 100
    .wrapper
        .maincontent

            block header
                header.header
                    .authorization
                        a.authorization__link(href="#") Авторизироваться

            block content
                .content__welcome
                    .welcome.welcome__back
                            .user
                                .user__foto-welcome
                                    img.user__foto-img(src='./assets/img/avatar/me.jpg' alt="Аватар")
                                .user__info
                                    .user__info-name_welcome Елизавета Овинова
                                    .user__info-text
                                        p Личный сайт веб разработчика
                            .socials.socials__welcome
                                ul.socials__list
                                    li.socials__item
                                        a.socials__link.socials__link-opacity(href="https://vk.com/id272177" target="_blank")
                                            i(class="fa fa-vk" aria-hidden="true")
                                    li.socials__item
                                        a.socials__link.socials__link-opacity(href="https://github.com/Elizaveta89" target="_blank")
                                            i(class="fa fa-github-alt" aria-hidden="true")
                                    li.socials__item
                                        a.socials__link.socials__link-opacity(href="https://ru.linkedin.com/" target="_blank")
                                            i(class="fa fa-linkedin" aria-hidden="true")

                            +nav('nav', ["Мои работы", "Обо мне", "Блог"], ["works.html", "about.html", "blog.html"])
                    .authorization__menu.welcome__back
                        .authorization__title.general__title Авторизируйтесь
                        .authorization__form
                            label.form__label
                                i(class="fa fa-user form__label-icon" aria-hidden="true")
                                input.form__input(name="login" placeholder="Логин")
                            label.form__label
                                i(class="fa fa-key form__label-icon" aria-hidden="true")
                                input.form__input(name="password" type="password" placeholder="Пароль")
                            .form__checkbox
                                input.form__input-checkbox(type="checkbox" name="captcha" id="checkbox1")
                                label.form__label-checkbox(for="checkbox1")
                                    span.form__checkbox-text Я человек
                            .form__radio
                                .form__radio-title Вы точно не робот?
                                .form__radio-block
                                    input.form__radio-input(type="radio" name="radio-captcha" id="yes")
                                    label.form__label-radio(for="yes")
                                        span.form__radio-text Да
                                    input.form__radio-input(type="radio" name="radio-captcha" id="no")
                                    label.form__label-radio(for="no")
                                        span.form__radio-text Не уверен
                            nav.nav
                                ul.nav__list
                                    li.nav__item.nav__item-auth
                                        a.nav__link(href="#")
                                            .nav__text На главную
                                    li.nav__item.nav__item-auth
                                        a.nav__link(href="#")
                                            .nav__text Войти
block footer
    .footer__content
        .footer__text  © Елизавета Овинова | создано с любовью в LoftSchool | 2016




