extends ../layout
include ../sections/_mixins.pug

block title
    title Welcome

block body
    block preloader
        include ../sections/preloader.pug
    .wrapper
        .Background
            canvas.Background-canvas

        block header
            header.header
                .authorization
                    a.authorization__link(href="#authorization") Авторизироваться

        block content
            .content__welcome
                .welcome.welcome__back
                        .user
                            .user__foto-welcome
                                img.user__foto-img(src='./assets/img/avatar/me.jpg' alt="Аватар")
                            .user__info
                                .user__info-name_welcome Елизавета Овинова
                                .user__info-text
                                    p Личный сайт веб разработчика
                        .socials.socials__welcome
                            ul.socials__list
                                li.socials__item
                                    a.socials__link.socials__link-opacity(href="https://vk.com/id272177" target="_blank")
                                        i(class="fa fa-vk" aria-hidden="true")
                                li.socials__item
                                    a.socials__link.socials__link-opacity(href="https://github.com/Elizaveta89" target="_blank")
                                        i(class="fa fa-github-alt" aria-hidden="true")
                                li.socials__item
                                    a.socials__link.socials__link-opacity(href="https://ru.linkedin.com/" target="_blank")
                                        i(class="fa fa-linkedin" aria-hidden="true")

                        +nav('nav', ["Мои работы", "Обо мне", "Блог"], ["works.html", "about.html", "blog.html"])
                .authorization__menu.welcome__back
                    .authorization__title.general__title Авторизируйтесь
                    form.authorization__form
                        label.form__label
                            i(class="fa fa-user form__label-icon" aria-hidden="true")
                            input.form__input(id="authLogin" name="login" placeholder="Логин")
                            .form__error-window Введите логин
                        label.form__label
                            i(class="fa fa-key form__label-icon" aria-hidden="true")
                            input.form__input(id="authPassword" name="password" type="password" placeholder="Пароль")
                            .form__error-window Введите пароль
                        .form__checkbox
                            input.form__input-checkbox(type="checkbox" name="captcha" id="checkbox1")
                            label.form__label-checkbox(for="checkbox1")
                                span.form__checkbox-text Я человек
                        .form__radio
                            .form__radio-title Вы точно не робот?
                            .form__radio-block
                                input.form__radio-input(type="radio" name="radio-captcha" id="yes")
                                label.form__label-radio(for="yes")
                                    span.form__radio-text Да
                                input.form__radio-input(type="radio" name="radio-captcha" id="no")
                                label.form__label-radio(for="no")
                                    span.form__radio-text Не уверен
                        nav.nav
                            ul.nav__list
                                li.nav__item.nav__item-auth
                                    a.nav__link(href="")
                                        .nav__text На главную
                                li.nav__item.nav__item-auth
                                    a.nav__link.nav__link-auth(href="#")
                                        .nav__text Войти
        block footer
            footer.footer
                .footer__content.footer__content-welcome
                    .footer__text  © Елизавета Овинова | создано с любовью в LoftSchool | 2016






