extends ../layout
include ../sections/_mixins.pug

block title
    title Works

block body
    block preloader
        include ../sections/preloader.pug
    .wrapper.wrapper__works
        .maincontent
            block header__about
                include ../sections/header.pug
            block content
                .container
                    section.works
                        .general__title.works__title Мои работы
                    section.slider
                        ul.slider__list
                            li.slider__item.slider__item-active
                                .slider__left(id='a')
                                    img.slider__left-img(src="./assets/img/works/work-1.png")
                                .slider__right(id='b')
                                    .slider__right-content
                                        .slider__title
                                            .general__title.slider-title Сайт школы онлайн образования
                                        ul.slider__right-list
                                            li.slider__right-item
                                                span.slider__right-text Html,
                                            li.slider__right-item
                                                span.slider__right-text Css,
                                            li.slider__right-item
                                                span.slider__right-text Javascript
                                        button.slider__button
                                            a.slider__button-link
                                                i(class="fa fa-link slider__button-fa" aria-hidden="true")
                                                span Посмотреть сайт
                            li.slider__item
                                .slider__left(id='e')
                                    img.slider__left-img(src="./assets/img/works/work-2.png")
                                .slider__right(id='f')
                                    .slider__right-content
                                        .slider__title
                                            .general__title.slider-title Сайт школы онлайн образования
                                        ul.slider__right-list
                                            li.slider__right-item
                                                span.slider__right-text Html,
                                            li.slider__right-item
                                                span.slider__right-text Css,
                                            li.slider__right-item
                                                span.slider__right-text Javascript
                                        button.slider__button
                                            a.slider__button-link
                                                i(class="fa fa-link slider__button-fa" aria-hidden="true")
                                                span Посмотреть сайт
                            li.slider__item.slider__item-active
                                .slider__left(id='a')
                                    img.slider__left-img(src="./assets/img/works/work-3.png")
                                .slider__right(id='b')
                                    .slider__right-content
                                        .slider__title
                                            .general__title.slider-title Сайт школы онлайн образования
                                        ul.slider__right-list
                                            li.slider__right-item
                                                span.slider__right-text Html,
                                            li.slider__right-item
                                                span.slider__right-text Css,
                                            li.slider__right-item
                                                span.slider__right-text Javascript
                                        button.slider__button
                                            a.slider__button-link
                                                i(class="fa fa-link slider__button-fa" aria-hidden="true")
                                                span Посмотреть сайт
                            li.slider__item.slider__item-active
                                .slider__left(id='a')
                                    img.slider__left-img(src="./assets/img/works/work-4.png")
                                .slider__right(id='b')
                                    .slider__right-content
                                        .slider__title
                                            .general__title.slider-title Сайт школы онлайн образования
                                        ul.slider__right-list
                                            li.slider__right-item
                                                span.slider__right-text Html,
                                            li.slider__right-item
                                                span.slider__right-text Css,
                                            li.slider__right-item
                                                span.slider__right-text Javascript
                                        button.slider__button
                                            a.slider__button-link
                                                i(class="fa fa-link slider__button-fa" aria-hidden="true")
                                                span Посмотреть сайт
                        .slider__arrows
                            .slider__arrows-left.arrows__works
                                a.slider__arrows-link
                                    img.slider__arrows-img(src="./assets/img/icons/portf_arrow_left.png")
                            .slider__arrows-right.arrows__works
                                a.slider__arrows-link
                                    img.slider__arrows-img(src="./assets/img/icons/portf_arrow_right.png")
                        .slider__dots
                            ul.slider__dots-list
                    section.works__bottom
                        .works__bottom-title
                            .general__title.works__bottom-title-after Что обо мне говорят
                        .works__quote
                            ul.quote__list
                                li.quot__item
                                    .quote__foto
                                        img.quot__foto-img(src="./assets/img/avatar/foto-dima.jpg" alt="Дмитрий Ковальчук")
                                    .quote__text
                                        span Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                                    .quot__name
                                        span.quote__name-text Ковальчук Дмитрий
                                        span.quote__name-fonts  - основатель Loftschool
                                li.quot__item
                                    .quote__foto
                                        img.quot__foto-img(src="./assets/img/avatar/foto-zar.jpg" alt="Зар Захаров")
                                    .quote__text
                                        span Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                                    .quot__name
                                        span.quote__name-text Зар Захаров
                                        span.quote__name-fonts - преподаватель
                        .works__feedback
                            .works__feedback-blur
                            .feedback__title
                                .general__title.feedback__title-after Связаться со мной
                            form.feedback__form(novalidate)
                                label.feedback__label
                                    input.feedback__input(name="name" id="feedbackName" type="name" placeholder="Имя" required)
                                    .feedback__error-window Введите имя
                                label.feedback__label
                                    input.feedback__input(name="mail" id='feedbackEmail' type="email" placeholder="Email" required)
                                    .feedback__error-window Введите e-mail
                                label.feedback__label
                                    textarea.feedback__textarea(name="textarea" id='feedbackTextarea' type="text" placeholder="Ваше сообщение" required)
                                    .feedback__error-window Введите сообщение
                                .feedback__button
                                    button.button.button__submit(type="submit") Отправить
                                    button.button.button__reset(type="reset") Очистить
                        .arrow__up
                            a.arrow__link.arrow__pic-up(href="#")
                                i(class="fa fa-chevron-up arrow__pic" aria-hidden="true")
                    section.window__reset
                        .window__reset-message
                            .window__reset-text Сообщение отправленно
                            button.window__reset-button
                                span.window__reset-button-text Закрыть


    block footer
        include ../sections/footer.pug











