.header__about {
  position: relative;
  background: url("../img/background/water.jpg") no-repeat;
  background-size: cover;
}

.header__about-up {
  @extend %clearfix;
  padding: 20px;
}

.socials_position {
  float: left;
}

.header__menu {
  float: right;
  margin: 20px 20px;
}

.header__menu-img {
  background-image: url(../img/sprite.png);
  background-position: -1740px -350px;
  width: 40px;
  height: 35px;
}

.header__about-user {
  background: url("../img/icons/portfolio.png") no-repeat;
}

.user__about {
  margin-bottom: 65px;
  padding: 45px;
}

.arrow {
  position: absolute;
  left: 50%;
  bottom: -120px;
  transform: translate(-50%, -50%);
}

.arrow__pic {
  color: #c4d5cc;
  font-size: 35px;
  opacity: 0.9;
}

 .triangle {
   position: relative;
   top: 4px;
   fill: #f8f9f5;
 }

