$white: #fff;
$black: #373e42;
$gray: #566358;
$green: #6c9c5a;
$green-dark: #4e8839;


// misc
@import '_misc/mixins.scss';
@import '_misc/adjustment.scss';
@import '_misc/_common.scss';
@import '_misc/fonts.scss';
@import '_misc/font-awesome.scss';

//sections
@import 'sections/preloader.scss';
@import 'sections/header.scss';
@import 'sections/footer.scss';
@import 'sections/slider.scss';


// pages
@import 'pages/welcome.scss';
@import 'pages/authorization.scss';
@import 'pages/about.scss';
@import 'pages/works.scss';
@import 'pages/blog.scss';