.wrapper__about {
  background: none;
  .triangle__left {
    fill: #ebefe2;
  }
  .triangle__right {
    fill: #f4f5f0;
  }
  .triangle {
    top: 8px;
  }
  @include tablets {
    .triangle {
      top: 9px;
    }
    .triangle__right {
      fill: #ebefe2;
    }
  }
}

.content__about {
  display: flex;
  @extend %clearfix;
}

.about__left {
  float: left;
  width: 50%;
  background-color: #ebefe2;
  position: relative;
  @include laptop {
  }
  @include tablets {
    float: none;
    width: 100%;
  }
}

.about__left-title {
  @include inlineblock();
  font-size: 63px;
  padding-right: 100px;
  @include laptop {
    padding: 0;
    display: block;
    vertical-align: baseline;
  }
  @include mini-phones {
    font-size: 35px;
    margin-bottom: 25px;
  }
}


.about__img {
  width: 400px;
  height: 200px;
  position: absolute;
  background: url(../img/icons/about.png) no-repeat;
  background-position: 0 23px;
  top: -5%;
  left: 3%;
  @include laptop {
    left: 21%;
  }
  @include tablets {
    left: 27%;
  }
  @include phones {
    left: 12%;
  }
  @include mini-phones {
    left: 18%;
    background-size: contain;
    width: 200px;
    height: 100px;
  }
}

.about__left-info {
  @include inlineblock(middle);
  padding-bottom:20px;
  width: 450px;
  @include mini-phones {
    width: auto;
    display: block;
    vertical-align: baseline;
    padding: 20px 5px;
  }
}

.about__left-foto {
  margin-bottom: 20px;
}

.about__left-img {
  width: 450px;
  height: 400px;
  @include mini-phones{
    width: 320px;
    height: 290px;
  }
}

.about__text {
  color: #566358;
  text-align: left;
  max-width: 420px;
  margin: auto;
  line-height: 1.8;

  p {
    padding-bottom: 10px;
  }
}

.about__right {
  float: right;
  width: 50%;
  background-color: #f4f5f0;
  box-sizing: border-box;
  @extend %clearfix;
  @include tablets {
    float: none;
    width: 100%;
  }
}

.about__right-info {
  padding: 0 20px;
}

.about__right-title {
  max-width: 280px;
  margin-bottom: 40px;
  @include tablets {
    max-width: 270px;
  }
}

.about__right-text {
  max-width: 900px;
  margin-bottom: 30px;
  line-height: 1.5;
  @include laptop {
    max-width: 550px;
  }
  @include tablets {
    max-width: 470px;
  }
}

.skills {
  margin-bottom: 60px;
  @include laptop{
    margin-bottom: 93px;
  }
}

.skills__title {
  font-family: $font-medium;
  font-size: 28px;
  padding: 15px;
  text-align: left;
  color: #566358;
  @include tablets {
    padding-bottom: 20px;
    text-align: center;
  }
}

.skills__list {
  text-align: left;
  @include laptop {
    margin-bottom: 20px;
  }
  @include tablets {
    text-align: center;
  }
}

.skills__item{
  display: inline-block;
  text-align: center;
  margin-right: 15px;
  position: relative;
  svg {
    width: 120px;
    height: 120px;
    transform: rotate(-90deg);
    background: transparent;
    border-radius: 50%;
  }
  @include laptop {
    margin-right: 10px;
  }
}

.skills__circle-grey {
  fill: transparent;
  stroke: #dfdcd5;
  stroke-width: 10;
  stroke-dasharray: 101 100;
}

.skills__circle-green {
  fill: transparent;
  stroke: #6c9c5a;
  stroke-width: 10;
}

.skills__circle-php {
  stroke-opacity: 0.4;
}

.skills__circle-mySQL {
  stroke-opacity: 0.5;
}

.skills__circle-Mongo {
  stroke-opacity: 0.6;
}

.skills__circle-Gulp {
  stroke-opacity: 0.8;
}

.skills__circle-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #649751;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.0;
}

.contacts__map {
  height: 790px;
  background: url("../img/background/map.png") no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 300px;
}

.contacts__window {
  width: 380px;
  padding: 20px 0;
  background-color: rgba(244, 245, 240, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include tablets {
    top: 40%;
  }
  @include phones {
    top: 14%;
  }
  @include mini-phones {
    top: 14%;
  }
}

.contacts__list {
  text-align: left;
  margin: 35px 35px 0 35px;
}

.contacts__item {
  margin-bottom: 15px;
}

.contacts__item-text {
  color: #65777c;
  padding-left: 20px;
}

