.header__blog {
  background-position: 0px -88px;

  @include laptop {
    background-position: 0px -52px;
  }
  @include  tablets {
    background-position: 0px 0px;
  }
}

.header__blog-up {
  padding: 20px;
  @extend %clearfix;
}

.socials__position {
  float: left;
}

.header__blog-user {
  position: relative;
}

.user__blog {
  color: $white;
}

.user__blog-title {
  color: $white;
  font-size: 31px;
  &:after {
    margin: 21px auto;
    border-color: $white;
  }
}

.user__blog-img {
  position: absolute;
  left: 50%;
  top: 71%;
  transform: translate(-50%, -50%);
  opacity: 0.2;

  @include laptop {
    left: 38%;
  }
  @include  tablets {
    left: 31%;
  }
  @include phones {
    left: 19%;
  }
  @include mini-phones {
    left: 5%;
  }
}

.user__blog-pic {
  width: 306px;
  height:208px;
}

.user__foto-blog {
 margin-bottom: 12px;
}

.user__blog-text {
  opacity: 0.8;
}

.triangle__blog {
  position: relative;
  fill: #faf8f0;
  top: 8px;
  @include tablets{
    top: 8px;
  }
}

.blog__content {
  @extend %clearfix;
  background-color: #faf8f0;
  padding: 30px 10px 140px;
}

.blog__nav-fixed {
  position: fixed;
  top: 0;
}

.blog__nav {
  float: left;
  width: 26%;
  padding-top: 30px;
  @include tablets {
    display: none;
  }
}

.blog__nav-item {
  padding: 4px;
  margin-bottom: 2px;
}

.blog__nav-link {
  display: block;
  padding: 11px 18px 9px;
  border: 0 solid #6c9c5a;
  color: #455a64;
  text-align: right;
  transition: all linear .3s;
  line-height: 24px;
  border-right: 3px solid transparent;
}

.blog__nav-link-active {
  color: #4e8839;
  border-right: 3px solid #6c9c5a;
  font-family: $font-bold;
}

.container {
  @extend %clearfix;
}

.blog__article {
  float: right;
  width: 69%;
  padding: 37px 45px 0 0;
  text-align: left;
  @include laptop {
    padding: 25px;
  }
  @include tablets {
    width: 100%;
    padding: 0;
    margin-bottom: 85px;
  }
  @include phones {
    margin-bottom: 150px;
  }
  @include mini-phones {
    margin-bottom: 230px;
  }
}

.article {
  padding: 0 40px 0 80px;
  margin-bottom: 70px;
  border-bottom: 5px solid rgba(55,62,66,.07);
  @include tablets {
    padding:0 10px;
    margin-bottom: 50px;
  }
  &:last-child {
    border-bottom: 0;
  }
}

.article__title {
  font-family: 'sansus_webissimoregular';
  font-size: 35px;
  color: #455a64;
  padding-bottom: 20px;

  h2 {
    margin: 0;
  }
}

.article__data {
  color: #4e8839;
  padding-bottom: 20px;
  opacity: 0.6;
}

.article__text {
  max-width: 700px;
  color: #455a64;
  margin-bottom: 30px;

  p {
    padding-bottom: 15px;
  }
}

