block footer
    footer.footer
        .footer__about
            .footer__content
                .footer__menu-up
                    .footer__menu-left
                        .footer__text.footer__text-about Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                    .footer__menu-center
                        .footer__nav
                            ul.footer__nav-list
                                li.footer__nav-item
                                    a.footer__nav-link(href="http://ovinovaportfolio.ru/works.html") Мои работы
                                li.footer__nav-item
                                    a.footer__nav-link(href="http://ovinovaportfolio.ru/about.html") Обо мне
                                li.footer__nav-item
                                    a.footer__nav-link(href="http://ovinovaportfolio.ru/blog.html") Блог
                                li.footer__nav-item
                                    a.footer__nav-link(href="#") Авторизация
                        .socials__footer.socials
                            ul.socials__list
                                li.socials__item
                                    a.socials__link.socials__link-footer(href="https://vk.com/id272177" target="_blank")
                                        i(class="fa fa-vk" aria-hidden="true")
                                li.socials__item
                                    a.socials__link.socials__link-footer(href="https://github.com/Elizaveta89" target="_blank")
                                        i(class="fa fa-github-alt" aria-hidden="true")
                                li.socials__item
                                    a.socials__link.socials__link-footer(href="https://ru.linkedin.com/" target="_blank")
                                        i(class="fa fa-linkedin" aria-hidden="true")
                    .footer__menu-right
                        .footer__quote
                            p.footer__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                            p.footer__quote-author — Martin Golding
                .footer__menu-down
                    .footer__copyright © Владимир Астахов | Создано с любовью в LoftSchool | 2016


