block header
    .header__about
        .header__about-up
            .socials.socials_position
                ul.socials__list
                    li.socials__item
                        a.socials__link.socials__link-header(href="https://vk.com/id272177" target="_blank")
                            i(class="fa fa-vk" aria-hidden="true")
                    li.socials__item
                        a.socials__link.socials__link-header(href="https://github.com/Elizaveta89" target="_blank")
                            i(class="fa fa-github" aria-hidden="true")
                    li.socials__item
                        a.socials__link.socials__link-header(href="https://ru.linkedin.com/" target="_blank")
                            i(class="fa fa-linkedin" aria-hidden="true")
            .header__menu
                a(class="header__menu-link" href="#")
                    .header__menu-img
        .header__about-user
            .user.user__about
                .user__foto
                    img.user__foto-img(src='./assets/img/avatar/me.jpg' alt="Аватар")
                .user__info
                    .user__info-name
                        h1 Елизавета Овинова
                    .user__info-text
                        p Личный сайт веб разработчика
        .arrow
            a.arrow__link
                i(class="fa fa-chevron-down arrow__pic" aria-hidden="true")