block header
    .header__about
        .header__about-up
            .socials.socials_position
                ul.socials__list
                    li.socials__item
                        a.socials__link.socials__link-header(href="https://vk.com/id272177" target="_blank")
                            i(class="fa fa-vk" aria-hidden="true")
                    li.socials__item
                        a.socials__link.socials__link-header(href="https://github.com/Elizaveta89" target="_blank")
                            i(class="fa fa-github" aria-hidden="true")
                    li.socials__item
                        a.socials__link.socials__link-header(href="https://ru.linkedin.com/" target="_blank")
                            i(class="fa fa-linkedin" aria-hidden="true")
            .header__menu-button
            nav.header__menu
                ul.header__menu-list
                    li.header__menu-item
                        a.header__menu-link(href='http://ovinovaportfolio.ru/works.html')
                            span.header__menu-text Мои работы
                    li.header__menu-item
                        a.header__menu-link('http://ovinovaportfolio.ru/about.html')
                            span.header__menu-text Обо мне
                    li.header__menu-item
                        a.header__menu-link('http://ovinovaportfolio.ru/blog.html')
                            span.header__menu-text Блог
                    li.header__menu-item
                        a.header__menu-link(href="#")
                            span.header__menu-text Авторизация
        .header__about-user
            .user.user__about
                .user__foto
                    img.user__foto-img(src='./assets/img/avatar/me.jpg' alt="Аватар")
                .user__info
                    .user__info-name
                        h1 Елизавета Овинова
                    .user__info-text
                        p Личный сайт веб разработчика
        .arrow
            a.arrow__link
                i(class="fa fa-chevron-down arrow__pic" aria-hidden="true")
        svg(class="triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 85" preserveAspectRatio="none")
            polygon(class="triangle__left" points="0,0   0,86   500.8,86   500.8,75.5")
            polygon(class="triangle__right" points="1000,00   1000,86   500,86   500,75.5")